﻿@{
    ViewBag.Title = "Home Page";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Hora</h2>
                <p>
                    Hora actual: @DateTime.Now.ToString("T")
                </p>
            </div>
        </div>
    </div>
</section>