﻿@model Tienda.Models.Pelicula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pelicula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ruta)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.ruta)*@

            <img title="@Model.titulo" src="@Url.Content("~" + Model.ruta)"
                 width="100px" height="100px" />

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            Rate
        </dt>

        <dd>
            <span id="spanRate">
            @Html.DisplayFor(model => model.Rate)
            </span>
            @Html.Partial("_Rating", Model)
            @Html.HiddenFor(m => m.Rate, new { id = "Rate" })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
    <script src="@Url.Content("~/Scripts/rating.js")"></script>
    <script>
        $(document).ready(function () {
            var pid = $("#Rate").val();
            $("input[type=radio][value='" + pid + "']").attr('checked', 'checked');

        });

        $(function () {
            $('.ratting-item').rating(function (vote, event) {
                var anchor = $(event.currentTarget);
                var pid = anchor.closest(".ratting-item").data("pid");
                var url = '@Url.Action("RateProduct", "Peliculas")';
                $("#Rate").val(vote);
                $("#spanRate").text(vote);

                $('.ratting-item[data-pid=' + pid + ']')
                    .next()
                    .text("Actualizando Calificacion...");

                var request = $.ajax({
                    url: url,
                    type: "GET",
                    data: { rate: vote, id: pid }
                });

                request.success(function (msg) {
                    console.log("sucess: " + msg);
                    if (msg.success) {
                        $('.result').text("Listo");
                    }
                });

                request.error(function (msg) {
                    console.log("error:" + msg);
                    $('.result').text(msg);
                });

                request.complete(function () {
                    //console.log("complete");
                    //$('.ratting-item[data-pid=' + pid + ']')
                    //.next()
                    //.text("");
                });

            });

        });
    </script>
}
