﻿
@{
    ViewBag.Title = "NotFound";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Error</h2>
                <p>
                    @ViewBag.message
                </p>
            </div>
        </div>
    </div>
</section>
